
body {
    margin:0;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Arial';
    background-color: rgb(244, 234, 248);
}

.alinea {
    text-indent: 20px;
}

header {
    height: 80px;
    display: flex;
    background: linear-gradient(to right,#fcfbf9ff,rgb(119, 56, 156)) ;
    align-items: center;
    text-align: center;         
    justify-content: center;
    
}

header img {
    height: 60px;
    width: 70px;
    padding: 10px 10px;
    margin-left: 0;
    position: absolute;
    left: 0;
    border-radius: 25%;
    
}

header h1 {
    font-size: 30px;
    font-family: 'Arial';
    font-weight: bolder;
    color: rgb(49, 18, 45);
    margin: 0;
}

nav {
    height: 30px;
    background-color: rgb(211, 188, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul li {
    margin: 0;
    padding: 0 30px;
    line-height: 29px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(74, 3, 56);
}

nav ul li:hover {
    background-color: white;
    color: black;
}




footer {
    position: relative;
    bottom: 0;
    height: 35px;
    width: 100vw;
    
    background-color: rgb(186, 167, 202);
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

footer p {
    color:rgb(27, 1, 32);
    margin: 15px;
    font-size: 14px;

}

main {
    display: flex;
    flex-direction: column;
    
    min-height: calc(100vh - 145px);
}

section {
    padding: 5px 20px;
    margin: 20px 20px 10px 20px;
    border-radius: 20px;
    background-color: white;
}

div {
    display: flex;
    overflow-x: scroll;
}

.compet {
    padding: 5px 20px;
    margin: 20px 20px 10px 20px;
    border-radius: 20px;
    background-color: rgb(244, 234, 248);
    width: 100%;
}

.button {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(240, 240, 240);
}

.fin {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.logouniv {
    height: 50px;
    padding: 10px 20px ;
}

.logoDL {
    height: 50px;
    padding: 10px 20px ;
}

.center {
    margin: 0 auto;
    text-align: center;
}

main article { 
    display: flex;
    flex-direction: row;

}