
body {
    margin:0;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS';
    background-color: rgb(244, 234, 248);
}

.alinea {
    text-indent: 20px;
}

header {
    height: 80px;
    display: flex;
    background: linear-gradient(to right,#fcfbf9ff,rgb(119, 56, 156)) ;
    align-items: center;
    text-align: center;         
    justify-content: center;
    
}

header img {
    height: 60px;
    width: 70px;
    padding: 10px 10px;
    margin-left: 0;
    position: absolute;
    left: 0;
    border-radius: 25%;
    
}

header h1 {
    font-size: 30px;
    font-family: 'Arial Black';
    color: rgb(49, 18, 45);
    margin: 0;
}

nav {
    height: 30px;
    background-color: rgb(211, 188, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul li {
    margin: 0;
    padding: 0 30px;
    line-height: 29px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(74, 3, 56);
}

nav ul li:hover {
    background-color: white;
    color: black;
}




footer {
    position: relative;
    bottom: 0;
    height: 35px;
    width: 100vw;
    
    background-color: rgb(186, 167, 202);
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

footer p {
    color:rgb(27, 1, 32);
    margin: 15px;
    font-size: 14px;

}

main {
    display: flex;
    flex-direction: column;
    
    min-height: calc(100vh - 145px);
}

section {
    padding: 5px 20px;
    margin: 20px 20px 10px 20px;
    border-radius: 20px;
    background-color: white;
}

div {
    display: flex;
    overflow-x: scroll;
}

.compet {
    padding: 5px 20px;
    margin: 20px 20px 10px 20px;
    border-radius: 20px;
    background-color: rgb(244, 234, 248);
    width: 100%;
}

.button {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(240, 240, 240);
}

.fin {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.logouniv {
    height: 50px;
    padding: 10px 20px ;
}

.logoDL {
    height: 50px;
    padding: 10px 20px ;
}

.center {
    margin: 0 auto;
    text-align: center;
}

main article { 
    display: flex;
    flex-direction: row;

}

.formation {
    padding: 0 20px;
    width: 400px;
    background-color: wheat;
    border-radius: 20px;
}

.espace {
    width: 10px;
}

.hobbies {
    padding: 0 20px;
    width: 400px;
    background-color: moccasin;
    border-radius: 20px;
}

.langues { 
    padding: 0 20px;
    width: 850px;
    background-color: lemonchiffon;
    border-radius: 20px;
}

.espace2 {
    height: 20px;
}

.resultats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    background-color: burlywood;
    min-width: 1000px;
}

.resultats section {
    justify-content: space-around;
    

}

.bac {
    width: 600px;
    background-color: wheat;
    margin: 10px;
    margin-right: 40px;
    padding: 10px;
}

.UA {
    width: 600px;
    background-color: papayawhip;
    margin: 10px;
    padding: 10px;
}

.TitresTab {
    font-size: 30px;
    margin-left: 40px;
    color: darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TAB {
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 40px;
}

th {
    padding-top: 5px;
    padding-left: 10px;
    
}

td {
    padding-top: 5px;
    padding-left: 10px;

}

.droite {
    text-align: right;
}

.gras {
    font-weight: bold;
}

.TAB tr:nth-child(even) {
    background-color: DarkSlateGray;
    color : white;
}

.TAB tbody tr:nth-child(odd) {
    background-color: #844;
    color : white;
}

tfoot {
    background-color: #26619c;
    color : white;
}

.speciale {
    background-color: wheat;
    color : black;
}